$black: #000000;
$white: #ffffff;
$primary_color: #FF91AC;
$gray_shade:#e2e2e2;
$gray_shade3:#757575;
$gray_shade4:#7A7A7A;
$White_color:#fff;
$black_color:#000000;
$light_pink:#FFE7ED;
$gray_shade2:#DDDDDD;
$secondary_color :#f25d82;
$light_pink:#ffb1c4;
$green_color:#007d32;
$red_color:#ed4040;
$black_color2:#1F1F1F;
$pink_4:#ff91ad;
$pink_5 :#FF7A9B;
$grey5:#f7e7e6;
// Social Icons Color
$facebook: #1871e7;
$twitter: #1c99e7;
$linkedin: #0077b5;
$google-plus: #db4437;
$youtube: #fa362c;
$skype: #02b4eb;
$pinterest: #dd0017;
$instagram: #e1376f;
$rss: #e98735;








$primary-font: 'magzo';

